body{
  background-image:url('/background.jpg');
}

#image_holder {
  margin: 20px auto;
  margin-top: 60px;
  width: 600px;
  border: 1px solid black;
  border-radius: 25px;
  background-image:url('/notecard.jpg');
  background-repeat:repeat-y;
}

.container {
  
  padding: 10px 20px; 
  width: 560px;
  
 

}
th {
  text-align: left;
}

h1 {
  font-size: 40px;
}

h1, h2, h3 {
  font-family: 'Spicy Rice', cursive;
  text-align: center;
}

#nav {
  font-family: 'Spicy Rice', cursive;
  position: fixed;
  top: 0;
  height: 50px;
  font-size: 20px;
  color: #009933;
  background-color: #FF9933;
  width: 100%;
  margin: 0 auto;
}

#nav a {
  color: #009933;
  text-align: center;
}

#nav p{

  display: inline;
  padding: 20px;
  
}

.links {
  text-align: center;
  margin: 15px;
}

.button {
  border-radius: 10px;
  color: green;
  background-color: #FF9933; 
  font-weight: bold;
}

.select_deck {
  height: 50px;
  width: 80%;
  background-color: green;
  color: #FF9933;
  font-size: 25px;
}

.select_deck option{

  background-color: green;
  color: #FF9933;
  font-size: 25px;
}

#history a {
  text-decoration: none;
  color: black;
  font-family: 'Spicy Rice', cursive;

}
