 <div class="container">
    <h1><%=current_user.username%>'s Flashcard game!</h1>
    <br>
    <h4>Choose your deck</h4>
    
    <ul>
    

    <select class="select_deck" ONCHANGE="location = this.options[this.selectedIndex].value;">
      <option>Select from below</option>
      <% @decks.each do |deck| %>
      <option value=/open_deck/<%=deck.id%>><%= deck.name %></option>
      <% end %>
    </select>

    
    </ul>

  </div>
