<div class="container">
  <h1>Welcome to Urban Flashcards!</h1>
  <br>
  <h4>Create yourself</h4>
  <form action="/create_user" method="post">
    <input type="text" name="post[username]" placeholder="Your name here!" required = true>
    <input type="password" name="post[password]" placeholder="password" required = true>
    <input class="button" type="submit" value="Create">
  </form>
  <br>
  <br>
  <h4>Log in</h4>
  <form action="/login" method="post">
    <input type="text" name="post[username]" placeholder="Your name here!" required = true autofocus>
    <input type="password" name="post[password]" placeholder="password" required = true>
    <input class="button" type="submit" value="Login">
  </form>

  <%if @user%>

  <%@user.errors.each do |error, message|%>
  <h5><%=message%></h5>
  <%end%>
  <%end%>
</div>
